@Styles.Render("~/Content/footer.css")

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Current Location</h3>
                    <p>Elmira, NY</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://plus.google.com/+KyleFormeck" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/kyle-formeck-a44a58122" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/kformeck89" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About</h3>
                    <p>I'm Kyle and I'm a software developer looking to relocate to the Raleigh-Durham area.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Developed using C#, ASP.NET MVC5, Bootstrap and jQuery
                </div>
            </div>
        </div>
    </div>
</footer>
