.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18bc9c;
  background: white;
  border: solid 2px white;
}
.resume-view {
    width: 100%;
}
.success {
    background: rgba(24,188,156,.9);
}
a {
    color: #2c3e50;
}
a:hover {
    color: #fff;
}
.paragraph {
    margin-top: 24px;
}