@Styles.Render("~/Content/about.css")

<section id="about">
    <div class="row parallax-window" data-parallax="scroll" data-image-src="/Resources/raleigh-night.jpg">
        <div class="col-lg-12 text-center text-padded">
            <h1>About</h1>
        </div>
    </div>
    <div class="success">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 paragraph">
                <p>I've been writing software for <a href="http://www.macom.com/">MACOM</a> in Ithaca, New York for over four and a half years.  My software assists operators and engineers, automating tasks in order to make their jobs easier, optimizing the efficiency of their workflow.  I am very passionate about software and I am a strong believer in obeying best practices.  I love learning new technologies and trying to stay ahead of the rapid advancements in the world of software.  Feel free to view my resume below for more information.</p>
            </div>
            <div class="col-lg-4 paragraph">
                <p>
                    <strong>Web:</strong>ASP.NET - MVC5 - HTML - CSS- JavaScript - jQuery - AngularJS - WebForms - Web API<br/>
                    <strong>Desktop:</strong> C# - .NET - WPF - WinForms - UI-less Services<br/>
                    <strong>Mobile:</strong>Responsive Web Design - Android Development in Native Java<br/>
                    <strong>Architecture:</strong>Object Oriented Design - Relational Database Design - Functional Programming
                    <strong>Back-End:</strong>MySQL and Oracle Databases
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#resumeModal" class="btn btn-lg btn-outline" data-toggle="modal">
                    <i class="fa fa-graduation-cap"></i> View Resume
                </a>
            </div>
        </div>
    </div>
</section>
<div class="portfolio-modal modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container resume-view">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Resume</h2>
                        <img src="~/Resources/resume-1.png" class="img-responsive img-centered" alt="">
                        <ul class="list-inline item-details">
                            <li>
                                Last Updated:
                                <strong>June 9th, 2016</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>