@Styles.Render("~/Content/contact.css")

<section id="contact">
    <div class="row parallax-window" data-parallax="scroll" data-image-src="/Resources/raleigh-day.jpg">
        <div class="col-lg-12 text-center text-padded">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <div class="row text-center">
                <div class="contact-data">
                    <span class="fa fa-map-marker">Address: <strong>151 Bloomer Ave, Elmira, NY 14901</strong></span>
                </div>
            </div>
            <div class="row text-center">
                <div class="contact-data">
                    <span class="fa fa-envelope">  E-Mail: <strong>kformeck@gmail.com</strong></span>
                </div>
            </div>
            <div class="row text-center">
                <div class="contact-data">
                    <span class="fa fa-phone">  Phone: <strong>(607) 425-0733</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/Scripts/contact-me.js")