@Styles.Render("~/Content/header.css")

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Resources/me.jpg">
                <div class="intro-text">
                    <span class="name">Kyle Formeck</span>
                    <hr class="star-light">
                    <span class="skills">Software Developer at MACOM</span>
                </div>
            </div>
        </div>
    </div>
</header>
